<ul ng-repeat="user in chat.users track by $index">
    <li>{{user}} - logged in</li>
</ul>

<p>Logged in users: {{participants}}</p>

<span>{{ currentUser }}</span>

<div flex-gt-sm="50" flex="">
    <md-content>
        <md-list flex="">
            <md-subheader class="md-no-sticky">Archive...</md-subheader>
            <md-list-item class="md-3-line" ng-repeat="message in chat.messages track by $index" ng-click="null">
                <!--<img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}">-->
                <div class="md-list-item-text" layout="column">
                    <h3>{{ message.username }} : <span class="message">{{ message.message }}</span></h3>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
</div>

<div class="col card hoverable 
                    s10 pull-s1 
                    m6 pull-m3 
                    l4 pull-l4">
    <form ng-submit="chat.sendMessage()">
        <div class="card-content">
            <div class="input-field col s10">
                <input required ng-model="chat.message" type="text" class="validate" name="username" />
                <input type="submit" class=" btn green waves-effect waves-light" value="Send">
            </div>
        </div>
    </form>
</div>