/* style.css */


/* BASIC STYLINGS
============================================================================= */

body
/* form styling */

#form-container {
    background: #2f2f2f;
    margin-bottom: 20px;
    border-radius: 5px;
}

.page-header {
    padding-bottom: 0px;
    margin: none;
    border-bottom: none;
}


/* numbered buttons */

#status-buttons {}

#status-buttons a {
    color: #2f2f2f;
    display: inline-block;
    font-size: 12px;
    margin-right: 10px;
    text-align: center;
    text-transform: uppercase;
}

#status-buttons a:hover {
    text-decoration: none;
}

#status-buttons a:active {
    text-decoration: none;
}

#status-buttons a:visited {
    text-decoration: none;
}


/* we will style the span as the circled number */

#status-buttons span {
    background: #080808;
    display: block;
    height: 30px;
    margin: 0 auto 10px;
    padding-top: 5px;
    width: 30px;
    border-radius: 50%;
}


/* active buttons turn light green-blue*/

#status-buttons a.active span {
    background: #00BC8C;
}


/* style.css */


/* ANIMATION STYLINGS
============================================================================= */

#signup-form {
    position: relative;
    min-height: 300px;
    overflow: hidden;
    padding: 30px;
}

#form-views {
    width: auto;
}


/* basic styling for entering and leaving */


/* left and right added to ensure full width */

#form-views.ng-enter,
#form-views.ng-leave {
    position: absolute;
    left: 30px;
    right: 30px;
    transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
}


/* enter animation */

#form-views.ng-enter {
    -webkit-animation: slideInRight 0.5s both ease;
    -moz-animation: slideInRight 0.5s both ease;
    animation: slideInRight 0.5s both ease;
}


/* leave animation */

#form-views.ng-leave {
    -webkit-animation: slideOutLeft 0.5s both ease;
    -moz-animation: slideOutLeft 0.5s both ease;
    animation: slideOutLeft 0.5s both ease;
}


/* ANIMATIONS
============================================================================= */


/* slide out to the left */

@keyframes slideOutLeft {
    to {
        transform: translateX(-200%);
    }
}

@-moz-keyframes slideOutLeft {
    to {
        -moz-transform: translateX(-200%);
    }
}

@-webkit-keyframes slideOutLeft {
    to {
        -webkit-transform: translateX(-200%);
    }
}


/* slide in from the right */

@keyframes slideInRight {
    from {
        transform: translateX(200%);
    }
    to {
        transform: translateX(0);
    }
}

@-moz-keyframes slideInRight {
    from {
        -moz-transform: translateX(200%);
    }
    to {
        -moz-transform: translateX(0);
    }
}

@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translateX(200%);
    }
    to {
        -webkit-transform: translateX(0);
    }
}

#toast-container .toast {
    cursor: pointer;
    size: auto
}

#toast-container .toast::after {
    font-family: 'Material Icons';
    content: "close";
    -webkit-font-feature-settings: 'liga';
    color: #dd2c00;
    font-size: 1.5rem;
    font-weight: 300;
    float: right;
    padding-left: 2rem;
}

.message {
    color: red;
}

.btn-logoff {
    position: fixed;
    left: 0;
    top: 0;
}

.logged-user-data {
    position: fixed;
    right: 0;
    top: 0;
}

.messages-list {
    background: grey;
    left: 0 !important;
    width: 50%;
    padding: 0;
    margin: 0;
}

.messages-window {
    background-color: #F7F7F7;
    text-align: left;
    padding-left: 10px
}

.card {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%
}

.card-content {
    text-align: right;
}

.input-message {
    display: inline;
}

.btn-send {
    color: red;
}